<html lang="fr"  ng-app="app" ng-controller="IndexController">
<head>
    <meta charset="utf-8" />
    <mata name="fragment" content="!" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="Content/Styles/bootstrap.min.css" rel="stylesheet">
    <link href="Content/Styles/style.css" rel="stylesheet">

    <title>Graphique</title>
   
</head>
<body>
    
    <div>
        <div class="nav">
            <ul>
                <li><h1>Graphique</h1></li>
                <li id="check">Poids Patient<input type="checkbox" ng-model="weight"/></li>
                <li id="check">Tension<input type="checkbox" ng-model="tension"/></li>
                <li id="info">Infos Patient</li>
            </ul>
        </div>
    

    <!-- Graphique -->
        <div ng-show="weight">
            {{wght}}
        </div>

        <div ng-show="tension">
            {{tsn}}
        </div>

    </div>
    <!-- Fin -->

    <!--HERE-->
        <script src="Scripts/JQuery/jquery-1.9.1.js"></script>
        <script src="Scripts/Angular/angular.min.js"></script>
        <script src="Scripts/Bootstrap/bootstrap.min.js"></script>
        <script src="Scripts/app/app.js"></script>
    <!--Service Angular-->

    <!--Fin-->

    <!--Directive Angular-->

    <!--Fin-->

    <!--Controller Angular-->
        <script src="Scripts/app/Controllers/index.controller.js"></script>
    <!--Fin-->

    <!--Spinner-->

    <!--Fin-->

</body>
</html>