/* Style */

nav{
    position: sticky;
    margin: 0;
    overflow: hidden;
    background-color: #EFFBFB;
}

nav > ul{
    list-style-type: none;
}

nav img,  ul  li, ul  li  h1 {
    display: inline-table;
    margin: 5px;
    width : 90px;
    text-align: center;
}

.pull-right {
    padding-top: 12px;
    white-space: nowrap;
    display: inline-table;
    margin: 5px;
    width: 90px;
}

#weight1, #tension1 {
    display: inline-table;
    width: 125px;
}

#weight1 input, #tension1 input {
    margin-left: 12px;
}

.graph{
    text-align: center;
    vertical-align: middle;
}

nav h1 {
    font-size: 25px;
}
