<nav class="navbar navbar-default">
    <div class="navbar-header">
        <ul>
            <img src="../Content/Images/Logo/logo-ahnac-sticky.png" class="pull-left" />
            <li><h1>Graphique</h1></li>
            <label>Paramètre</label>
            <input type="text" ng-model="Params"/>
            <select ng-model="selectCategorie" ng-options="c.id as c.name for c in Categorie" ng-change="GetValue()">
                <option value="">Choisissez</option>
            </select>
            <li>{{fullname}}</li>
        </ul>
    </div>
</nav>
</div>
<!-- Graphique -->

<div align="center" ng-show="selectCategorie">
    <h1>Courbe de {{label}} du patient</h1>
    <div zingchart id="chart"  zc-values="data" zc-json="obj" zc-width="auto" zc-height="250">
    </div>
</div>   